body {
  font-family: "Avenir Next";
}

/* list-styleプロパティを用いて、<li>要素の黒点を取り除いてください */
li{
  list-style: none;
}

.header-logo{
  
  background:#f8f9f9;
  color:#555d66;
  height: 90px;
}

.main {
  background-color: #f8f9f9;
  height: 600px;
}

.footer {
  background-color: #ceccf3;
  height: 270px;
}
